

	<div class="container-fluid text-white" style="background-color: #000; padding-bottom: 5px;">
		
		<h2>Car Booking</h2>
		       
	</div>

	<div class="container-fluid" style="margin-bottom: 60px;">
		
		<a href="/carbooking/?login" class="btn btn-success" style="float: right;margin-right: 10px">Log in</a>
		<a href="/carbooking/?signup" class="btn btn-success" style="float: right;margin-right: 10px">Sign up</a>
		<a href="/carbooking" class="btn btn-success" style="float: right;margin-right: 10px">Home</a>
	</div>

